.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.track {
  position: relative;
}

.input {
  width: 100%;
  cursor: pointer;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}
