.controlsBar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--space-3);
}

.mobileView {
  display: none;
}

@media (width <= 60rem) {
  .controlsBar {
    display: none;
  }

  .tableView {
    display: none;
  }

  .mobileView {
    display: block;
  }

  .mobileControls {
    display: flex;
    justify-content: flex-end;
    padding: var(--space-2) var(--space-3);
    border-bottom: var(--border-width) solid var(--color-ink-divider);
  }
}
