.button {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}

.button:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

.button:disabled {
  cursor: not-allowed;
}
