.page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}

.content {
  flex: 1;
  overflow-y: scroll;
  padding: var(--space-4);
}

.changelogSection {
  margin-top: var(--space-2);
}

@media (width <= 60rem) {
  .page {
    overflow: visible;
  }

  .content {
    overflow: visible;
    padding: var(--space-3);
  }
}

.heading {
  margin-bottom: var(--space-4);
}
